<md-dialog 
	aria-label="Feature item config" 
	ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate>Template</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="done(template)">
				<wb-icon aria-label="Close dialog">done</wb-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="cancel()">
				<wb-icon aria-label="Close dialog">close</wb-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content
		layout="row">
        <wb-setting-panel-group
        		id="directive-collection-template-dialog-setting-panel"
                ng-show="true"
                flex="30"
                style="overflow: auto;">
        </wb-setting-panel-group>
		<wb-content
       		wb-setting-anchor="directive-collection-template-dialog-setting-panel"
			wb-editable="true"
			wb-model="template"
			style="overflow: auto;"
			flex>
		</wb-content>
	</md-dialog-content>
</md-dialog>
