<!-- corner radius section -->
<md-list class="wb-setting-panel"> 
	<md-input-container 
		class="md-icon-float md-block">
		<label>Collection</label>
		<input ng-model="wbModel.collection" type="text">
	</md-input-container>
</md-list>
